In [ ]:
# import require libararies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)

In [ ]:
# Read CSV file
df = pd.read_csv('/content/HR_Employee_Attrition.csv')
# Show first five rows
df.head()

In [ ]:
# Provide information about number of rows and columns
df.shape

In [ ]:
#Gives Data-Types and Non -null values from columns
df.info()

In [ ]:
# check for null values
df.isnull().sum()

In [ ]:
# Provide satistical summary
df.describe()

In [ ]:
# Provide name of all columns from dataset
df.columns

In [ ]:
# Shows the actual value count
df['Attrition'].value_counts()

In [ ]:
# Shows Percentage Distribution and gives information about data is imbalanced or not
df['Attrition'].value_counts(normalize=True)*100

In [ ]:
sns.countplot(x='Attrition',data=df)
plt.title('Employee Attrition Count')
plt.show()

In [ ]:
attrition_rate=df['Attrition'].value_counts(normalize=True)*100
attrition_rate

In [ ]:
# Now we plot the graph for Attriton By Department
# R&D & Sales department has highest attrition
plt.figure()
sns.countplot(x='Department',hue='Attrition',data=df)
plt.title('Attrition by Department')
plt.show()

In [ ]:
#Attrition by gender
# Male candidates have higher attrition rate
plt.figure()
sns.countplot(x='Gender',hue='Attrition',data=df)
plt.title('Attrition By Gender')
plt.show()

In [ ]:
# Now we find can overtime work actual affect on the attrition rate
# Yes overtime affect attrition significantly
plt.figure()
sns.countplot(x='OverTime',hue='Attrition',data=df)
plt.title('Attrition Vs Overtime')
plt.show()

In [ ]:
#Atttrition by job role
# Laboratory Sales Executive & Technician has highest Attrition rate
plt.figure()
sns.countplot(y='JobRole',hue='Attrition',data=df)
plt.title('Attrition by job role')
plt.show()

In [ ]:
# Attrition rate Vs Monthly Income
# Employee with lower salary tends to leave the company
plt.figure()
sns.barplot(x='Attrition',y='MonthlyIncome',data=df)
plt.title('Attrition Vs Monthly Income')
plt.show()

In [ ]:
# Attrition Vs Job Satisfaction
#Low Satisfaction tends to Higher Attrition
plt.figure()
sns.countplot(x='JobSatisfaction',hue='Attrition',data=df)
plt.title('Attrition Vs Job Satisfaction')
plt.show()

In [ ]:
# Attrition Vs Work-Life Balance
# Poor work-life balance strongly contributes to attrition.
plt.figure()
sns.countplot(x='WorkLifeBalance',hue='Attrition',data=df)
plt.title('Work-Life Balance Vs Attrition')
plt.show()

In [ ]:
# Attrition Vs Years At Company
# Employee leaves mostly in early years
plt.figure()
sns.barplot(x='Attrition',y='YearsAtCompany',data=df)
plt.title('Attrition Vs Years At Company')
plt.show()

In [ ]:
# Correlation Heatmap(Numerical Features)

plt.figure(figsize=(12,8))
corr = df.select_dtypes(include=['int64','float64']).corr()
sns.heatmap(corr,cmap='coolwarm',linewidths=0.5)
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
# Drop irrelevant columns
df_sql = df.drop(columns=['EmployeeNumber', 'EmployeeCount', 'StandardHours', 'Over18'])

# Save cleaned CSV for SQL
df_sql.to_csv('HR_Attrition_SQL.csv', index=False)

df_sql.head()